<html>
  <body>
    <div>
      <p>{{address1}}</p>
      <p>{{address2}}</p>
      <p>{{address3}}</p>
      <p>{{city}}</p>
      <p>{{state}}</p>
      <p>{{zip}}</p>
    </div>
    <p>Dear {{#if (eq gender "m")}}Mr{{else}}Mrs{{/if}} {{last_name}} thank you for being a valued customer of ours. We would like to extent this wonmderful offer to your.</p>

    <p>This is more text</p>
  </body>
</html>